@media screen and (max-width: 992px){
    .transparent-navbar {
    background-color: rgba(27, 14, 2, 0.722) !important;
    backdrop-filter: blur(10px) ;
  }
  .hero-text .container {
    padding-left: 0;
    padding-right: 0;
    width: 80%;
  }
  .hero-text h1{
    left: 8%;
  }
.hero-text h1{
    font-size: 180px !important;
  }
  .hero-text p{
    font-size: 20px;
  }


  .img1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .second .container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .second h1 {
    font-size: 50px;
  }
  .second p {
    font-size: 20px;
  }
  .Menu h1 {
    font-size: 40px;
  }
  .Menu p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text h1{
    font-size: 150px !important;
  }
  .hero-text p{
    font-size: 18px;
  }
  .hero-text .container{
    margin-left: 0;
  }

  .Menu .cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      .Menu .card {
        width: 100% !important;
        
        margin-bottom: 25px;
      }
    .Menu h1 {
        font-size: 35px;
      }
    .Menu .text-center p{
        font-size: 20px;
    }
      .Menu p {
        font-size: 20px;
      }
  .Menu {
    margin-top: 150px;
  }
}
@media screen and (max-width: 314px) {
  .hero-text h1{
    font-size: 10px !important;
  }
}
@media screen and (max-width: 351px) {
  .hero-section{
    width: 100%;
  }
  .hero-text h1{
    font-size: 120px !important;
  }
}