@media screen and (max-width: 1400px){
  #About-Us .cards{
    width: 1300px !important;
  }
}
@media screen and (max-width: 1320px){
  #About-Us .card{
    width: 250px !important;
  }
  #About-Us .cards{
    width: 1116px !important;
  }
}
@media screen and (max-width: 1200px){
  #About-Us .cards{
    width: 900px !important;
  }
  #About-Us .card{
    width: 1116px !important;
  }
}

@media screen and (max-width: 992px){
    .transparent-navbar {
    background-color: rgba(27, 14, 2, 0) !important;
    backdrop-filter: blur(10px) ;
  }
  .hero-text .container {
    padding-left: 0;
    padding-right: 0;
    width: 80%;
  }

  .hero-text p{
    font-size: 30px;
  }
  .navbar-nav{
    gap: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .img1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .img3{
    top: -45px;
  }
  .second .container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .second h1 {
    font-size: 50px;
  }
  .second p {
    font-size: 20px;
  }
  .Menu h1 {
    font-size: 40px;
  }
  .Menu p {
    font-size: 20px;
  }

  #About-Us .container{
    bottom: -60px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text p{
    font-size: 26px;
  }
  .hero-text .container{
    margin-left: 0;
  }

  
  #Menu h1 {
    margin-top: 20px;
    font-size: 37px;
  }

  #Menu p {
    font-size: 20px;
  }

  #About-Us .cards{
    width: 80% !important;
  }
  #About-Us h1{
    font-size: 50px !important;
  }
  #About-Us .p1{
    font-size: 23px !important;
  }
}
@media screen and (max-width: 540px) {
  #About-Us h1{
    font-size: 40px !important;
  }
  #About-Us .p1{
    font-size: 17px !important;
  }
}


