html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  font-family: "Great Vibes", cursive;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
  }

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
  .container .navbar-brand{
    font-family:"Great Vibes", cursive   ;
    font-size: 40px;
  }
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url("../images/bgh.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    color: white;
    font-family: fangsong;
    width: 100%;
  }
  .hero-section .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
    background-color:rgba(15, 8, 1, 0.608) !important;
    backdrop-filter: blur(8px);
  }
  .transparent-navbar {
    background-color: transparent !important;
    padding-top: 1.5rem;
  }
  .hero-text .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-text {
  font-family: fangsong;
  position: absolute;
  top: 50%;
  left: 12.3%; 
  transform: translateY(-50%);   
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-right: 40px !important;
}
.hero-text .btn{
  font-size: clamp(10px, 2vw, 50px) ;
  padding: 15px 25px;
  border-color: rgb(249, 192, 106) !important;
  background-color: rgb(249, 192, 106);
}
.hero-section p{
  font-size: 30px;
}

.hero-text h1 {
  width: 100%;
  font-size: 200px !important;
  font-family: "Great Vibes", cursive !important;
  text-align: center;
}
.hero-text h1::after {
  content: "";
  display: inline-block;
  font-size: clamp(100px, 14vw, 300px);
  animation-name: animatingtext;
  animation-duration: 1.4s;
  animation-timing-function: steps(6);
  animation-fill-mode: forwards;
  white-space: nowrap;
  text-align: center;
}

@keyframes animatingtext{
  0% {content: "W";}
  20% {content: "We";}
  40% {content: "Wel";}
  60% {content: "Welc";}
  80% {content: "Welco";}
  100% {content: "Welcom";}
}
.hero-text a{
  color: black;
  text-decoration: none;
}
.hero-text a:hover{
  .name:hover {
  color: #f9c06a;
  transform: scale(1.05);
  cursor: pointer;
}
}
  .navbar-nav{
    margin-left: auto;
    gap: 9rem;
  }

  .navbar-nav .btn{
    font-size: 2rem !important;
  }
  .btn-transparent {
    background-color: transparent;
    border: none;
    color: white; 
  }
  a.text-white:hover {
    color: #f9c06a !important;
  }
  .nav-link:hover {
    color: #f9c06a !important;
  }
  .name {
  color: white;
  transition: color 0.4s ease, transform 0.3s ease;
}

.name:hover {
  color: #f9c06a;
  transform: scale(1.05);
  cursor: pointer;
}

  .btn-signup:hover {
    background-color: white;
    color: black;
  }
  .btn:hover{
    background-color: #f9c06a !important;
  }
  .transparent-navbar {
    background-color: transparent !important;
  }
  .navbar-nav .nav-link:hover {
    color: #f9c06a !important;
  }

  .btn-warning:hover {
    background-color: #f9c06a;
    transform: scale(1.05);
  }
  .btn-transparent {
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.3s ease;
  }
  .btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f9c06a;
  }
  .btn-shadow {
  box-shadow: 0 4px 8px rgb(249, 192, 106);
  }
  .btn-shadow:hover {
    box-shadow: 0 12px 24px rgb(249, 192, 106);; 
  }
  .hero-section button{
    font-weight: 900;
  }





.img1 {
  top: -85px;
  max-width: 400px;
  height: auto;
  position: absolute;
}
.img2 {
  z-index: -1;
  top: -100px;
  position: absolute;
  max-width: 400px !important;
  right: 0 !important;
}
.image-container {
  position: relative; 
}


#Menu {
    margin-top: 270px;
  font-family: fangsong;
  padding: 0 20px;
}
#Menu .container{
  margin-top: -100px !important;
  margin: auto;
  text-align: center;
}
#Menu h1{
  font-weight: bold !important;
  color: rgb(69, 34, 1);
  font-size: 70px;
}
#Menu .card img{
   width: 100%;
   height: 217px;
   display: flex;
   justify-content: center;
   align-items: center;

}
#Menu p{
  margin-bottom: 32px !important;
  font-size: 25px;
  color: #707070;
}
#Menu h5{
  margin-bottom: 0 !important;
  font-weight: bold;
  color: rgb(69, 34, 1);
  font-size: 20px;
}
#Menu .card p{
  margin-bottom: 0 !important;
  font-size: 17px;
}
#Menu .p2{
  font-weight: bold;
  color: rgb(69, 34, 1);
  font-size: 17px;
}
#Menu .cards{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#Menu h5{
  color: rgb(69, 34, 1);
  font-weight: bold;
  font-size: 20px;
}
#Menu .card{
  box-shadow :#3f2600;
  position: relative;
  height: 1000px !important;
  width: 250px;
  background-color: #f9c06a14;
  border-color: #b76f03;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 364px;
}  
#Menu .card:hover {
  transform: translateY(-5px);
box-shadow: 0 -10px 20px #3f2600, 0 10px 20px #3f2600;}

#Menu a{
  background-color: #f9c06a;
  border-color: #f9c06a !important;
}






 .hero-text2 {
  font-family: fangsong;
  position: absolute;
  top: 50%;
  left: 12.3%; 
  transform: translateY(-50%);   
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-right: 40px !important;
}
.hero-text2 h1{
  color: #f9c06a;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family:"Great Vibes", cursive   !important;
  font-size: clamp(90px, 15vw, 300px) !important;
}
.hero .navbar{
  background-color: rgb(69, 34, 1) !important;
}
.hero-section p{
  font-size: clamp(30px, 2vw, 150px) ;
}



#About-Us{
    margin-top: 82px;
}

#About-Us .container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}